{% load static %}
<!DOCTYPE html>
<html lang="tj">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <div id="header">
        <!-- Logo here -->
        <img id="logo" src="{% static 'img/logo.png' %}" alt="Logo">
        <div id="language-buttons">
            <a href="{% url 'index' language='en' %}"><button>En</button></a>
            <a href="{% url 'index' language='ru' %}"><button>Ru</button></a>
            <a href="{% url 'index' language='tj' %}"><button>Tj</button></a>
        </div>
    </div>

    <div id="custom-scs" class="custom-scs">
        <div class="scs-content">
            <p id="alertMessage">Успех!<br> Ваша форма отправлена</p>
            <a href="https://www.ibt.tj/">
                <button class="buttonscs">Continue</button>
            </a>
        </div>
    </div>
    <div id="overlay-scs" class="overlay-scs"></div>

</body>

</html>