{% load static %}
<!DOCTYPE html>
<html lang="tj">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Form</title>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <div id="header">
        <!-- Logo here -->
        <img id="logo" src="{% static 'img/logo.png' %}" alt="Logo">
        <div id="language-buttons">
            <a href="{% url 'index' language='en' %}"><button>En</button></a>
            <a href="{% url 'index' language='ru' %}"><button>Ru</button></a>
            <a href="{% url 'index' language='tj' %}"><button>Tj</button></a>
        </div>
    </div>

    <div id="customAlert" class="custom-alert">
        <div class="alert-content">
            <p id="alertMessage"></p>
            <button onclick="closeCustomAlert()">Фаҳмидам</button>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>

    <div id="userForm">
        <form enctype="multipart/form-data" method="POST" onsubmit="return validateForm();">
            {% csrf_token %}

            <div id="userTypePop" class="user-type-pop">
                <div class="user-content">
                    <label for="userType">Категорияро интихоб кунед</label>
                    <select name="userType" id="userType">
                        <option value="Талаба">Талаба</option>
                        <option value="Донишчу">Донишҷӯ</option>
                        <option value="Корманд">Корманд</option>
                    </select>
                    <button type="button" onclick="closeUserType()">Интихоб</button>
                </div>
            </div>

            <label for="fullNameCyrillic">Номи пурра (кирилӣ):</label>
            <input type="text" id="fullNameCyrillic" name="fullNameCyrillic" placeholder="Давлатов Давлат Давлатович"
                required>

            <label for="fullNameLatin">Номи пурра (лотинӣ):</label>
            <input type="text" id="fullNameLatin" name="fullNameLatin" placeholder="Davlatov Davlat Davlatovich"
                required>

            <label for="birthdate">Санаи таваллуд:</label><br>
            <input type="date" id="birthdate" name="birthdate" required><br>

            <label for="region">Лутфан минтақаи худро интихоб кунед</label>
            <select name="region" id="region">
                <option value="И.Сомони">И.Сомони</option>
                <option value="Дангара">Дангара</option>
                <option value="Шохмансур">Шохмансур</option>
                <option value="Рудаки">Рудаки</option>
                <option value="Фирдавси">Фирдавси</option>
                <option value="Сино">Сино</option>
                <option value="Сангвор">Сангвор</option>
                <option value="Варзоб">Варзоб</option>
                <option value="Нурек">Нурек</option>
                <option value="Фархор">Фархор</option>
                <option value="Айни">Айни</option>
                <option value="Муминобод">Муминобод</option>
                <option value="Гиссар">Гиссар</option>
                <option value="Вахдат">Вахдат</option>
                <option value="Шахринав">Шахринав</option>
                <option value="Восеъ">Восеъ</option>
                <option value="Хорог">Хорог</option>
                <option value="Шамсиддин Шохин">Шамсиддин Шохин</option>
                <option value="Файзабад">Файзабад</option>
                <option value="Бустон">Бустон</option>
                <option value="Куляб">Куляб</option>
                <option value="Худжанд">Худжанд</option>
                <option value="Рашт">Рашт</option>
                <option value="Хамадони">Хамадони</option>
                <option value="Пенджикент">Пенджикент</option>
                <option value="Шугнан">Шугнан</option>
                <option value="Яван">Яван</option>
                <option value="Кушониён">Кушониён</option>
                <option value="Шахритуз">Шахритуз</option>
                <option value="Сомони">Сомони</option>
                <option value="Панч">Панч</option>
                <option value="Сарбанд">Сарбанд</option>
                <option value="Шохмансур">Шохмансур</option>
                <option value="Гисар">Гисар</option>
                <option value="Ишкашим">Ишкашим</option>
            </select>


            <label for="school" id="schoolLabel" class="disable">Мактаб</label>
            <input type="text" name="school" id="school" value=" " class="disable">

            <label for="university" id="universityLabel" class="disable">Донишкада</label>
            <input type="text" name="university" id="university" value=" " class="disable">

            <label for="company" id="companyLabel" class="disable">Ҷои кор</label>
            <input type="text" name="company" id="company" value=" " class="disable">



            <label for="department" id="departmentLabel" class="disable">Факултет:</label>
            <select id="department" name="department" class="disable" required>
                <option value="" selected disabled>Факултетро интихоб кунед</option>
                <option value="факултети идоракунии давлат">Факултети идоракунии давлатӣ</option>
                <option value="факултети хукукшиноси">Факултети ҳуқуқшиносӣ</option>
                <option value="факултети дипломатия ва сиёсат">Факултети дипломатия ва сиёсат</option>
                <option value="факултети тахсилоти фосилави ва тахсилоти дуюми олии касби">Факултети таҳсилоти фосилавӣ
                    ва таҳсилоти дуюми олии касбӣ</option>
                <option value="шуъбаи магистратура">Шуъбаи магистратура</option>
                <option value="магистратураи 'мактаби давлатдории Эмомали Рахмон'">Магистратураи 'мактаби давлатдории
                    Эмомалӣ Рахмон'</option>
                <option value="шуъбаи омодакунии кадрхои илми ва илми-педагоги">Шуъбаи омодакунии кадрҳои илмӣ ва
                    илмӣ-педагогӣ</option>
            </select>


            <label for="eduType" id="eduTypeLabel" class="disable">Шакли таҳсил:</label>
            <select id="eduType" name="eduType" class="disable" required>
                <option value="" selected disabled>Факултетро интихоб кунед</option>
                <option value="Рӯзона">Рӯзона </option>
                <option value="Ғоибона">Ғоибона</option>
            </select>

            <label for="studentCard" id="studentCardLabel" class="disable">Корти донишҷӯ:</label>
            <input type="number" id="studentCard" name="studentCard" class="disable" required>

            <label>Ҷинс:</label><br>
            <label for="male">Мард
                <input type="radio" id="male" name="gender" value="Male" required />
            </label>

            <label for="female">Зан
                <input type="radio" id="female" name="gender" value="Female" required />
            </label>
            <br>

            <label for="issueDate">Оғози эътибори шиноснома:</label><br>
            <input type="date" id="issueDate" name="issueDate" required><br>

            <label for="expiryDate">Анҷоми эътибори шиноснома:</label><br>
            <input type="date" id="expiryDate" name="expiryDate" required><br>

            <label for="passportNumber">Рақами шиноснома:</label><br>
            <input type="text" id="passportNumber" name="passportNumber" required>

            <label for="address">Нишонӣ:</label>
            <input type="text" id="address" name="address" required>
            <br>

            <label for="rma">РМА:</label>
            <input type="number" id="rma" name="rma" required>

            <label for="jobLocation">Мақоми шиносномадиҳанда:</label>
            <!-- <input type="text" id="jobLocation" name="jobLocation" required> -->
            <select name="jobLocation" id="jobLocation" required>
                <option value="РВКД дар шаҳри Душанбе">РВКД дар шаҳри Душанбе</option>
                <option value="ШВКД дар ноҳияи И.Сомонӣ">ШВКД дар ноҳияи И.Сомонӣ</option>
                <option value="ШВКД-1 дар ноҳияи Шоҳмансур">ШВКД-1 дар ноҳияи Шоҳмансур</option>
                <option value="ШВКД-2 дар ноҳияи Шоҳмансур">ШВКД-2 дар ноҳияи Шоҳмансур</option>
                <option value="ШВКД-1 дар ноҳияи Фирдавсӣ">ШВКД-1 дар ноҳияи Фирдавсӣ</option>
                <option value="ШВКД-2 дар ноҳияи Фирдавсӣ">ШВКД-2 дар ноҳияи Фирдавсӣ</option>
                <option value="ШВКД -1 дар ноҳияи Сино">ШВКД -1 дар ноҳияи Сино</option>
                <option value="ШВКД -2 дар ноҳияи Сино">ШВКД -2 дар ноҳияи Сино</option>
                <option value="ШВКД дар ноҳияи Варзоб">ШВКД дар ноҳияи Варзоб</option>
                <option value="ШВКД дар ноҳияи Ҳисор">ШВКД дар ноҳияи Ҳисор</option>
                <option value="ШВКД дар ноҳияи Ваҳдат">ШВКД дар ноҳияи Ваҳдат</option>
                <option value="ШВКД-1 дар ноҳияи Рӯдакӣ">ШВКД-1 дар ноҳияи Рӯдакӣ</option>
                <option value="ШВКД-2 дар ноҳияи Рӯдакӣ">ШВКД-2 дар ноҳияи Рӯдакӣ</option>
                <option value="ШВКД дар ноҳияи Турсунзода">ШВКД дар ноҳияи Турсунзода</option>
                <option value="ШВКД дар ноҳияи Шаҳринав">ШВКД дар ноҳияи Шаҳринав</option>
                <option value="ШВКД дар ноҳияи Файзобод">ШВКД дар ноҳияи Файзобод</option>
                <option value="ШВКД дар шаҳри Роғун">ШВКД дар шаҳри Роғун</option>
                <option value="РВКД дар вилояти Хатлон">РВКД дар вилояти Хатлон</option>
                <option value="ШВКД дар ш.Бохтар">ШВКД дар ш.Бохтар</option>
                <option value="Қисми минтақавӣ оид ба гуруҳи ноҳияҳои Кӯлоб">Қисми минтақавӣ оид ба гуруҳи ноҳияҳои
                    Кӯлоб</option>
                <option value="ШВКД дар шаҳри Кӯлоб">ШВКД дар шаҳри Кӯлоб</option>
                <option value="ШВКД дар ноҳияи А.Ҷомӣ">ШВКД дар ноҳияи А.Ҷомӣ</option>
                <option value="ШВКД дар ноҳияи Балҷувон">ШВКД дар ноҳияи Балҷувон</option>
                <option value="ШВКД дар ноҳияи Кӯшониён">ШВКД дар ноҳияи Кӯшониён</option>
                <option value="ШВКД дар ноҳияи Вахш">ШВКД дар ноҳияи Вахш</option>
                <option value="ШВКД дар ноҳияи Восеъ">ШВКД дар ноҳияи Восеъ</option>
                <option value="ШВКД дар ноҳияи Данғара">ШВКД дар ноҳияи Данғара</option>
                <option value="ШВКД дар ноҳияи Ёвон">ШВКД дар ноҳияи Ёвон</option>
                <option value="ШВКД дар шаҳри Норак">ШВКД дар шаҳри Норак</option>
                <option value="ШВКД дар ноҳияи Панҷ">ШВКД дар ноҳияи Панҷ</option>
                <option value="ШВКД дар ноҳияи Леваканд">ШВКД дар ноҳияи Леваканд</option>
                <option value="ШВКД дар ноҳияи Қубодиён">ШВКД дар ноҳияи Қубодиён</option>
                <option value="ШВКД дар ноҳияи Ҷайҳун">ШВКД дар ноҳияи Ҷайҳун</option>
                <option value="ШВКД дар ноҳияи Ҳамадонӣ">ШВКД дар ноҳияи Ҳамадонӣ</option>
                <option value="ШВКД дар ноҳияи Муъминобод">ШВКД дар ноҳияи Муъминобод</option>
                <option value="ШВКД дар ноҳияи Н.Хусрав">ШВКД дар ноҳияи Н.Хусрав</option>
                <option value="ШВКД дар ноҳияи Темурмалик">ШВКД дар ноҳияи Темурмалик</option>
                <option value="ШВКД дар ноҳияи Фархор">ШВКД дар ноҳияи Фархор</option>
                <option value="ШВКД дар ноҳияи Ховалинг">ШВКД дар ноҳияи Ховалинг</option>
                <option value="ШВКД дар ноҳияи Хуросон">ШВКД дар ноҳияи Хуросон</option>
                <option value="ШВКД дар ноҳияи Ҷ.Балхӣ">ШВКД дар ноҳияи Ҷ.Балхӣ</option>
                <option value="ШВКД дар ноҳияи Дӯстӣ">ШВКД дар ноҳияи Дӯстӣ</option>
                <option value="ШВКД дар ноҳияи Шаҳритус">ШВКД дар ноҳияи Шаҳритус</option>
                <option value="ШВКД дар ноҳияи Ш.Шоҳин">ШВКД дар ноҳияи Ш.Шоҳин</option>
                <option value="РВКД дар вилояти Суғд">РВКД дар вилояти Суғд</option>
                <option value="ШВКД дар шаҳри Хуҷанд">ШВКД дар шаҳри Хуҷанд</option>
                <option value="ШВКД дар ноҳияи Айнӣ">ШВКД дар ноҳияи Айнӣ</option>
                <option value="ШВКД дар ноҳияи Ашт">ШВКД дар ноҳияи Ашт</option>
                <option value="ШВКД дар ноҳияи Б.Ғафуров">ШВКД дар ноҳияи Б.Ғафуров</option>
                <option value="ШВКД дар ноҳияи Гулистон">ШВКД дар ноҳияи Гулистон</option>
                <option value="ШВКД дар ноҳияи Ғончӣ">ШВКД дар ноҳияи Ғончӣ</option>
                <option value="ШВКД дар ноҳияи Кӯҳистони Мастчоҳ">ШВКД дар ноҳияи Кӯҳистони Мастчоҳ</option>
                <option value="ШВКД дар ноҳияи Мастчоҳ">ШВКД дар ноҳияи Мастчоҳ</option>
                <option value="ШВКД дар ноҳияи Ҷ.Расулов">ШВКД дар ноҳияи Ҷ.Расулов</option>
                <option value="ШВКД дар ноҳияи Исфара-1">ШВКД дар ноҳияи Исфара-1</option>
                <option value="ШВКД дар ноҳияи Исфара-2">ШВКД дар ноҳияи Исфара-2</option>
                <option value="ШВКД дар шаҳри Бӯстон">ШВКД дар шаҳри Бӯстон</option>
                <option value="ШВКД дар ноҳияи Спитамен">ШВКД дар ноҳияи Спитамен</option>
                <option value="ШВКД дар ноҳияи Истаравшан">ШВКД дар ноҳияи Истаравшан</option>
                <option value="ШВКД дар ноҳияи Шаҳристон">ШВКД дар ноҳияи Шаҳристон</option>
                <option value="ШВКД дар шаҳри Истиқлол">ШВКД дар шаҳри Истиқлол</option>
                <option value="ШВКД дар шаҳри Конибодом">ШВКД дар шаҳри Конибодом</option>
                <option value="ШВКД дар шаҳри Панҷакент">ШВКД дар шаҳри Панҷакент</option>
                <option value="ШВКД дар ноҳияи Зафаробод">ШВКД дар ноҳияи Зафаробод</option>
                <option value="РВКД дар ВМКБ">РВКД дар ВМКБ</option>
                <option value="ШВКД дар шаҳри Хоруғ">ШВКД дар шаҳри Хоруғ</option>
                <option value="ШВКД дар ноҳияи Ванҷ">ШВКД дар ноҳияи Ванҷ</option>
                <option value="ШВКД дар ноҳияи Дарвоз">ШВКД дар ноҳияи Дарвоз</option>
                <option value="ШВКД дар ноҳияи Ишкошим">ШВКД дар ноҳияи Ишкошим</option>
                <option value="ШВКД дар ноҳияи Мурғоб">ШВКД дар ноҳияи Мурғоб</option>
                <option value="ШВКД дар ноҳияи Роштқалъа">ШВКД дар ноҳияи Роштқалъа</option>
                <option value="ШВКД дар ноҳияи Рушон">ШВКД дар ноҳияи Рушон</option>
                <option value="ШВКД дар ноҳияи Шуғнон">ШВКД дар ноҳияи Шуғнон</option>
                <option value="РВКД дар минтақа ва ноҳияи Рашт">РВКД дар минтақа ва ноҳияи Рашт</option>
                <option value="ШВКД дар шаҳраки Навобод">ШВКД дар шаҳраки Навобод</option>
                <option value="ШВКД дар ноҳияи Нуробод">ШВКД дар ноҳияи Нуробод</option>
                <option value="ШВКД дар ноҳияи Сангвор">ШВКД дар ноҳияи Сангвор</option>
                <option value="ШВКД дар ноҳияи Тоҷикобод">ШВКД дар ноҳияи Тоҷикобод</option>
                <option value="ШВКД дар ноҳияи Лахш">ШВКД дар ноҳияи Лахш</option>
            </select>

            <label for="phoneNumber">Рақами телефон (бе рамзи кишвар):</label>
            <input type="number" id="phoneNumber" name="phoneNumber" required>

            <p class="disable" id="3x4P">Акси рангаи 3х4</p>
            <div class="file-input-container">
                <label id="3x4Label" for="photo3x4" class="file-input-button disable">Интихоби файл</label>
                <input type="file" id="photo3x4" name="photo3x4" accept=".jpg, .jpeg, .png" class="file-input disable"
                    required>
                <span id="3x4Span" class="file-name disable">Файл интихоб нашудааст</span>
            </div><br>

            <p>Акси паспорт(қисмати пеш)</p>
            <div class="file-input-container">
                <label for="idPhotoFront" class="file-input-button">Интихоби файл</label>
                <input type="file" id="idPhotoFront" name="idPhotoFront" accept=".jpg, .jpeg, .png" class="file-input"
                    required>
                <span class="file-name">Файл интихоб нашудааст</span>
            </div><br>

            <p>Акси паспорт(қисмати ақиб)</p>
            <div class="file-input-container">
                <label for="idPhotoBack" class="file-input-button">Интихоби файл</label>
                <input type="file" id="idPhotoBack" name="idPhotoBack" accept=".jpg, .jpeg, .png" class="file-input"
                    required>
                <span class="file-name">Файл интихоб нашудааст</span>
            </div><br>

            <p>Акси шумо бо паспорт - мушаххаскунии (идентификатсияи) фосилавӣ</p>
            <div class="file-input-container">
                <label for="idWithPhoto" class="file-input-button">Интихоби файл</label>
                <input type="file" id="idWithPhoto" name="idWithPhoto" accept=".jpg, .jpeg, .png" class="file-input"
                    required>
                <span class="file-name">Файл интихоб нашудааст</span>
            </div><br>

            <div style="display:flex;">
                <span style="color: red;"">
                    *
                </span>
                <span style=" margin-right: 10px;">
                    <input type="checkbox" name="accept" id="accept" required>
                </span>
                <label>
                    Ман тасдиқ мекунам, ки ҳама маълумоти пешниҳодкардаам дуруст ва рузмарра аст
                </label>
            </div>

            <button type="submit">Равона кардан</button>
        </form>
    </div>
    <script src="{% static 'js/scriptstj.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Set the "required" attribute to false for each element
            document.getElementById("department").removeAttribute("required");
            document.getElementById("eduType").removeAttribute("required");
            document.getElementById("studentCard").removeAttribute("required");
            document.getElementById("photo3x4").removeAttribute("required");
            document.getElementById('schoolLabel').removeAttribute("required");
            document.getElementById('university').removeAttribute("required");
            document.getElementById('company').removeAttribute("required");
            document.getElementById('studentCard').removeAttribute("required");
        });
    </script>

</body>

</html>